:root {
    --primary-color: rgb(213, 172, 240);
    --secondary-color: rgb(172, 221, 182);
    --tertiary-color: rgb(238, 169, 203);
    --contact-color: rgb(193, 248, 250);
    --contact-color-2: rgb(9, 85, 116);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*start header styles*/
header {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 55px;
    color: #fff;
    -webkit-text-stroke: 2px black;
}

header a {
    text-decoration: none;
    color: rgb(129, 11, 139);
}

header nav {
    margin: 12px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 35px;
    margin: 0 10px;
}

header nav ul li a:hover {
    text-decoration: underline;
}
/*end header styles*/

/*start flex styles*/
.flex-container {
    background-color: #fff;
    padding: 5px;
    display: flex;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    flex-basis: 80%;
    margin: 10px 10px 10px 0;
}
/*end flex styles*/

/*start about styles*/
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 20%;
    margin: 10px;
    background-color: var(--secondary-color);
}

.about img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 2px solid #fff;
    margin-top: 20px;
}

.about h2 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 55px;
    color: rgb(72, 110, 59);
}

.about p {
    padding: 5px 20px 20px 20px;
    text-align: center;
}
/*end about styles*/

/*start projects styles*/
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    flex-basis: 100%;
    background-color: var(--tertiary-color);
    padding: 10px;
}
.projects-header {
    flex-basis: 100%;
    margin: 0 5px 0 10px;
}
.projects-header h2 {
    color: rgb(148, 37, 115);
    font-size: 50px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 31%;
    background-color: rgb(190, 190, 190);
    margin: 10px 5px 0 10px;
    height: 200px;
    border: 2px solid #fff;
}

.card a {
    width: 100%;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}

.card h3 {
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.main-card {
    flex-basis: 100%;
}

.main-card a {
    background-image: url('../assets/images/hero-bg.jpg');
}

.card-1 a {
    background-image: url('../assets/images/digital-marketing-meeting.jpg');
}

/*end projects styles*/

/*start contact styles*/
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    flex-basis: 100%;
    margin: 20px 0 0 0;
    padding: 5px 0 25px 10px;
    background-color: var(--contact-color);
}

.contact-header {
    flex-basis: 100%;
    margin: 10px 5px 0 10px;
}
.contact-header h2 {
    color: var(--contact-color-2);
    font-size: 50px;
}

.contact h3 {
    margin: 0 0 0 20px;
    color: var(--contact-color-2);
}

.contact-details {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    margin: 10px 10px;
    padding: 10px;
}

.contact-information {
    background-color: var(--contact-color-2);
    flex-basis: 25%;
    margin: 0 10px;
    padding: 20px;
    border: 2px solid #fff;
    line-height: 1.5em;
}

.contact-information p {
    font-size: 20px;
    margin-top: 10px;
}

.contact-information p > a {
    text-decoration: none;
    color: #fff;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 20px 10px 0 0;
    border: 1px solid #fff;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

.contact-form {
    background-color: var(--contact-color-2);
    flex-basis: 70%;
    margin: 0 10px;
    padding: 20px;
    border: 2px solid #fff;
    line-height: 20px;
}

.contact-form h4 {
    font-weight: normal;
    font-size: 20px;
    padding: 10px 0;
}

.contact-form label {
    display: none;
}

.form-input {
    border: 1px solid #fff;
    display: block;
    padding: 7px 15px;
    font-size: 15px;
    color: var(--contact-color-2);
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    margin: 15px 0;
}

.form-input:focus, .contact-form button:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.contact-form button {
    color: #fff;
    background-color: var(--contact-color-2);
    border: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
}

.contact-form button:hover {
    color: var(--contact-color-2);
    background-color: var(--contact-color);
    border: 1px solid var(--contact-color);
    padding: 10px;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
}

/*end contact styles*/

/*start media queries*/
@media screen and (max-width: 1024px) {
   header {
       padding-bottom: 0;
       justify-content: center;
       position: relative;
   }

   header h1 {
       width: 100%;
       text-align: center;
   }

   header nav ul {
       margin-top: 0;
       width: 100%;
       justify-content: center;
   }

   header nav ul li a {
       font-size: 30px;
   }

   .flex-container {
       flex-wrap: wrap;
       margin: 0;
       padding: 0;
   }

   .about, .projects, .contact, .main-section {
       flex-basis: 100%;
       margin: 0;
   }

   .about img {
       height: 300px;
       width: auto;
       margin: 20px 0 0 30px;
       object-fit: contain;
       align-self: flex-start;
   }

   .about p {
       flex: 1 1 auto;
   }
}

@media screen and (max-width: 900px) {
    .contact-details {
        flex-wrap: wrap;
    }

    .contact-information {
        flex-basis: 100%;
    }

    .contact-form {
        flex-basis: 100%;
    }

    .contact-form {
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .projects {
        justify-content: space-around;
    }
    
    .card {
        margin: 0;
    }

    .main-card {
        margin-top: 10px;
    }

    .card-1, .card-2, .card-3 {
        border-top: 0;
        flex-basis: 100%;
    }

    .contact {
        padding-left: 0;
    }

}

@media screen and (max-width: 600px) {
    header nav ul li a {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 45px;
    }

    header nav ul li a {
        font-size: 20px;
        padding: 10px 0;
    }

    .about span {
        width: 100%;
    }

    .about img {
        margin-left: auto;
        margin-right: auto;
    }

    .contact-details {
        margin: 10px 0;
        padding: 0;
    }
}


/*end media queries*/