:root {
    --primary-color: rgb(213, 172, 240);
    --secondary-color: rgb(172, 221, 182);
    --tertiary-color: rgb(238, 169, 203);
    --contact-color: rgb(193, 248, 250);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*start header styles*/
header {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 55px;
    color: #fff;
    -webkit-text-stroke: 2px black;
}

header a {
    text-decoration: none;
    color: #fff;
}

header nav {
    margin: 12px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 35px;
    margin: 0 10px;
}

header nav ul li a:hover {
    text-decoration: underline;
}
/*end header styles*/

/*start flex styles*/
.flex-container {
    background-color: #fff;
    padding: 5px;
    display: flex;
}
/*end flex styles*/

/*start about styles*/
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 20%;
    margin: 10px;
    background-color: var(--secondary-color);
}

.about img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 2px solid #000;
    margin-top: 20px;
}

.about h2 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    color: #000;
}

.about p {
    padding: 5px 20px 20px 20px;
    text-align: center;
}
/*end about styles*/

/*start projects styles*/
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 80%;
    margin: 10px 10px 10px 0;
}

.projects-header {
    display: flex;
    align-items: flex-start;
    flex-basis: 100%;
    margin: 0 5px 0 10px;
}
.projects-header h2 {
    color: #000;
    font-size: 50px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 31%;
    background-color: var(--tertiary-color);
    margin: 10px 5px 0 10px;
}

.card a {
    width: 100%;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}

.card h3 {
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.main-card {
    flex-basis: 100%;
}

.main-card a {
    background-image: url('../assets/images/hero-bg.jpg');
}

.card-1 a {
    background-image: url('../assets/images/digital-marketing-meeting.jpg');
}

/*end projects styles*/

/*start media queries*/
@media screen and (max-width: 1024px) {
   header {
       padding-bottom: 0;
       justify-content: center;
       position: relative;
   }

   header h1 {
       width: 100%;
       text-align: center;
   }

   header nav ul {
       margin-top: 0;
       width: 100%;
       justify-content: center;
   }

   header nav ul li a {
       font-size: 30px;
   }
}

@media screen and (max-width: 600px) {
    header nav ul li a {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 45px;
    }

    header nav ul li a {
        font-size: 20px;
        padding: 10px 0;
    }
}


/*end media queries*/